.d-flex {
  display: flex;
  height: 100vh; /* Ensures the layout takes the full height of the screen */
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px); /* Adjust the content width to fill the space */
  background-color: #f8f9fa;
  overflow-y: auto; /* Allows scrolling if the content overflows */
  height: 100vh; /* Ensure content takes full height */
}

.header {
  margin-bottom: 20px;
}


 /* START only for cards styling*/
.dashboard {
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.card {
  margin-bottom: 20px; /* Add space between cards */
}
 /* END */

